# Model Training

In [8]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sn
from statsmodels.tsa.seasonal import STL
import sys
import os
import pandas as pd
sys.path.append('../scripts')
import warnings
warnings.filterwarnings('ignore')
from data_loader import *

In [9]:
# path to the CSV file
filename1 = 'predict_data_women.parquet'
filename2 = 'predict_data_men.parquet'
filename3 = 'predict_data_other.parquet'


path1 = os.path.join('..', 'data/model_input', filename1)
path2 = os.path.join('..', 'data/model_input', filename2)
path3 = os.path.join('..', 'data/model_input', filename3)


# Load dataset
predict_data_women = load_data(path1)
predict_data_men = load_data(path2)
predict_data_other = load_data(path3)

In [11]:
predict_data_women.head()

          ds       y  Monthly Real GDP Index (inMillion$)
0 2009-01-01  1755.0                            14407.053
1 2009-02-01  1729.0                            14366.177
2 2009-03-01  2256.0                            14351.787
3 2009-04-01  2662.0                            14351.602
4 2009-05-01  2732.0                            14368.124